:root{
    --whiteColorDeam: hsl(0,0%,93%);
    --PrimaryColor : hsl(199,100%,33%);
    --blackColor:hsl(201,33%,16%);
    --gradientColor:linear-gradient(to right,hsl(187,85%,43%)hsl(199,100%,33%));
    --cardBG:rgb(225,225,235);
    --SecondaryColor:hsl(187,85%,43%);
    --bodyColor:rgb(240,225,235);
    --textcolor:hsl(240,4%,36%);
    --inputColor:rgb(239,239,239);
    --greyText:rgb(190,190,190);}
.home{
    width: 100%;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgb(1, green, blue);

    .overlay{
        position: absolute;
        height: 135%;
        width: 100%;
        top:10;
        bottom:30;
        z-index: 1;
       
    }
    .ocean{
        position: relative;
        height: 100%;
        width: 100%;
         top:0;
        bottom: 0;
       object-fit:cover;
    }

.homeContent{
    width: 100%;
    height: max-content;
    align-items: stretch;
    justify-content: center;
    row-gap: 3rem;
    padding: 8rem 1.5rem 3rem;
    margin: auto;
    color: Var(--whiteColor);
    display: flex;
    flex-direction: column;
    z-index: 100;

    .textDiv{
        padding: 2rem 0 ;

        .smallText{
            font-size: 35px;
            text-transform:initial;
            font-weight: 1000;
            color: rgb(238, 11, 11);
            padding-left: 25PX;
            letter-spacing:2px ;
            font-style:bold;
        }
        .homeTitle{
             position: relative;
             font-size: 5rem;
             font-weight:1500;
             color: rgba(244, 250, 245, 0.996);
             padding-left: 45PX;

             btn{
                background-color: black;
                font-size: 233px;
             }
        }
    }
    .cardDiv{

       display: inline-block; 
       border-radius: 4rem;
       position: relative;
       top: 100px;
       margin-left: 175px;
       width: 80%;
       height: 10rem;
       background-color: white;
       font-size: 17px;
       font-weight: 600;
       padding-bottom: 10px;
    
        
        .op-1{
          border-radius: 6px;
          font-size: 20px;
          box-sizing: border-box;
          border-radius: 3rem;
          width: 19rem;
          align-items: center;
          text-align: center;
          justify-content: space-between;
          margin-top:55px;
          margin-left: 20px;
          .input[type=range]{
            background-color: gray;
          }
          
        }
        .icon{
            margin:-5px;
        
          }


         .searchoption{
             position: absolute;
             background-color: var(--PrimaryColor);
             bottom: -0.1rem;
             width:max-content;
             column-gap: .8rem;
             padding: 5px 3rem;
             border-radius: 3rem;
             left: 50%;
             cursor: pointer;
             transform: translate(-50%);
             justify-content: center;

             &:hover{
                background-color: white;
             }
             .icon{
                font-size: 10px;

             }
             .span{
                font-size: 10px;
             }
          }
    } 

    .homefotterIcons{
        width: 100%;
        justify-content: space-between;
        margin-top: 100px;
        display: inline-block;

        .icon{
            font-size: 20px;
            margin-left: 40px;
            color: white;


            &:hover{
                color:var(--PrimaryColor)
            }
        }
        .rightIcons{
            margin-top: 1rem;
        
        }
    }
  }}